@page "/"

<PageTitle>Rose Valley Villas</PageTitle>

<div class="d-flex align-items-start flex-column" style="height: 200px;">
    <div class="mb-auto p-2">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top align-self-center mr-3" src="https://i.ibb.co/NZxgN1G/logo.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Търсите спокойствие и уют за вашата почивка? Предлагаме ви уникална атмосфера в къщи за гости близо до яз. Копринка, Казанлък. Подарете си незабравимо изживяване в една от най-красивите части на България в близост до древния тракийски град Севтополис</p>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="p-2"></div>
</div>

<div class="d-flex align-items-end flex-column" style="height: 200px;">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="mt-auto p-2">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top align-self-center mr-3" src="https://i.ibb.co/NZxgN1G/logo.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Търсите спокойствие и уют за вашата почивка? Предлагаме ви уникална атмосфера в къщи за гости близо до яз. Копринка, Казанлък. Подарете си незабравимо изживяване в една от най-красивите части на България в близост до древния тракийски град Севтополис</p>
            </div>
        </div>
    </div>
</div>
