@page "/landmarks"

<br />
<br />
<h3 class="text-center"> Забележителности около Казанлък</h3>
<br />
<br />

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="https://bulgariatravel.org/wp-content/uploads/2020/imported/14_1-scaled.jpg" alt="Тракийска гробница">
                <div class="card-body">
                    <p><b>Казанлъшка Тракийска гробница</b></p>
                    <p class="card-text">Казанлъшката гробница е зидана кръглокуполна гробница, която се намира в Казанлък и е част от голям некропол, разположен в близост до древната столица на Одриското царство Севтополис. Датирана е в края на IV в. пр. Хр. – началото на III в. пр. Хр. и от 1979 е в списъка на ЮНЕСКО на Световното културно и природно наследство.</p>
                </div>
            </div>
        </div>
        <br /> <br />


        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="http://complexlazur.com/wp-content/uploads/2017/01/%D0%BC%D1%83%D0%B7%D0%B5%D0%B9-%D0%BD%D0%B0-%D1%80%D0%BE%D0%B7%D0%B0%D1%82%D0%B0-%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%BB%D1%8A%D0%BA.jpg" alt="Музей на розата">
                <div class="card-body">
                    <p><b>Музей на розата</b></p>
                    <p class="card-text">Розопроизводството и дори по-голямата част от търговията с розовото масло се превърнаха в една от най-атрактивните визитни карти на Казанлъшка област и българското земеделие. Преди половин век разумно се казва: Културата на розата в България, чиято цел е добиването на розово масло, е не само най-старата и най-очарователната индустрия у нас, но и изключително и специфична в региона.</p>
                </div>
            </div>
        </div>
        <br /> <br />
    </div>
    <br />  <br />
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="http://complexlazur.com/wp-content/uploads/2016/06/%D0%BF%D0%B0%D0%BC%D0%B5%D1%82%D0%BD%D0%B8%D0%BA.jpg" alt="Храм Шипка">
                <div class="card-body">
                    <p><b>Храм паметник "Рождество Христово"</b></p>
                    <p>Храм-паметникът “Рождество Христово” е наричан още Шипченски манастир. Намира се в едноименното село Шипка, разположен на голям площад, а местността около него е заприличала на парк. Църквата представлява своеобразен паметник-костница на руските войници, дали живота си в Руско-турската освободителна война. С течение на времето посетителите се прекланят както на руснаците, така и на българите, загинали по време на сраженията.</p>
                </div>
            </div>
        </div>
        <br /> <br />
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="https://static.pochivka.bg/sights.bgstay.com/images/01/1065/549e6f5047132.jpg" alt="Язовир копринка">
                <div class="card-body">
                    <p><b>Язовир Копринка</b></p>
                    <p>Копринка е язовир и язовир в Розовата долина, централна България. Строителството му започва след 1944 г. и е завършено през 1956 г. Построен е на река Тунджа на 7 км западно от град Казанлък при с. Копринка.</p>
                </div>
            </div>
        </div>
        <br /> <br />
    </div>
    <br /> <br />

    <div class="row align-items-end">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="http://www.nadezhdatravel.com/wp-content/uploads/2021/09/damascena-1-1150x540.jpg" alt="Дамасцена">
                <div class="card-body">
                    <p class="text-center"><b>Етнографски комплекс "Дамасцена"</b></p>
                    <p class="card-text">Тук ще имате  имат възможност да се разходите  в красивата розова градина, да разгледате етнографската сбирка и да се запознаете с производството на прочутото по цял свят Българско розово масло. Също така ще можете  да  опитате розово сладко, розов мед, гюлова ракия. Към комплекса има ресторант, кът за отдих с беседки и алеи и парк с декоративни рози.</p>
                </div>
            </div>
        </div>
        <br /> <br />



        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="https://stroiinfo.com/wp-content/uploads/2020/04/%D0%9F%D0%B0%D0%BC%D0%B5%D1%82%D0%BD%D0%B8%D0%BA%D0%BD%D0%B0%D0%91%D1%83%D0%B7%D0%BB%D1%83%D0%B4%D0%B6%D0%B0_a3429bff1fc97fbba659184eca9160bf.jpg" alt="Бузл">
                <div class="card-body">
                    <p class="text-center"><b>Паметник на Бузлуджа</b></p>
                    <p class="card-text">В сърцето на Балкана в близост до географския център на България и само на 10-тина километра югоизточно от Паметника на свободата – Шипка, се намира един от най-известните монументални комплекси у нас. Дом-паметникът на БКП, известен още като паметникът Бузлуджа, е най-големият идеологически монумент на комунистическия режим у нас. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h3 class="text-center"> За любителите на разходки в планината </h3>
<br />

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="http://1.bp.blogspot.com/-m5N3yxeGEPs/VawK9P3bNnI/AAAAAAAANbU/8fi8S6IRg6g/s1600/DSC05441.JPG" alt="Бузл">
                <div class="card-body">
                    <p class="text-center"><b>Екопътека „ Пътека през вековете“.</b></p>
                    <p class="card-text"> Тръгва от Казанлък, минава през Бузовград и спира на свещеното мегалитно тракийско светилище. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="https://stroiinfo.com/wp-content/uploads/2020/04/%D0%9F%D0%B0%D0%BC%D0%B5%D1%82%D0%BD%D0%B8%D0%BA%D0%BD%D0%B0%D0%91%D1%83%D0%B7%D0%BB%D1%83%D0%B4%D0%B6%D0%B0_a3429bff1fc97fbba659184eca9160bf.jpg" alt="Бузл">
                <div class="card-body">
                    <p class="text-center"><b>Екопътека „Пътека през вековете“.</b></p>
                    <p>Ceгa cлeдвa eднa дocтa дългa cpeд eĸoпътeĸи ĸpaй Kaзaнлъĸ. Tя тpъгвa oт caмият гpaд минaвa пpeз язoвиp Koпpинĸa cлeдвa зaвeтнaтa ĸpeпocт „Tвъpдицa“, пpoдължaвa ĸъм ceлo Гopнo Чepĸoвищe и Бyзoвгpaд и oтнoвo ce вpъщa в гpaдa нa poзитe. Зa тoзи мapшpyт и изминaвaнeтo мy e дoбpe дa e пo-тoпличĸo, зaтoвa opгaнизиpaйтe гo мaй мeceц или paнния юни. Toгaвa язoвиp Koпpинĸa e пpиĸaзнo мяcтo зa pибoлoв, пиĸниĸ и мяcтo зa тиxa пoчивĸa нa cлънцe.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<h3 class="text-center"> Насладете се на заобикалящите розови поля </h3>


@*

    Тя отново тръгва от Казанлък, минава през Бузовград и спира на свещеното мегалитно тракийско светилище.


    <!-- Second Photo Grid-->
    <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
    <img src="https://static.pochivka.bg/sights.bgstay.com/images/01/1065/549e6f5047132.jpg" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
    <p><b>Язовир Копринка</b></p>
    <p>Копринка е язовир и язовир в Розовата долина, централна България. Строителството му започва след 1944 г. и е завършено през 1956 г. Построен е на река Тунджа на 7 км западно от град Казанлък при с. Копринка.</p>
    </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
    <img src="/w3images/p2.jpg" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
    <p><b>Lorem Ipsum</b></p>
    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
    </div>
    <div class="w3-third w3-container">
    <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
    <p><b>Lorem Ipsum</b></p>
    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
    </div>
    </div>
    </div>


*@


@code {

}
