<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="logo-image">
           <a href="https://ibb.co/NZxgN1G"><img src="https://i.ibb.co/NZxgN1G/logo.png" alt="logo" border="0"></a>
        </div>
@*        <a class="navbar-brand" href="#">Rose Valley</a>
*@      @*  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Начало
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Вили</a>
                    <span class="visually-hidden">(current)</span>

                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="landmarks">Забележителности</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
